* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Times New Roman", Times, san-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1200px;
  min-height: 100vh;
  background: linear-gradient(to bottom, #05b0e4, rgb(116, 233, 116));
}

.container {
  width: 45%;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  position: relative;
  padding: 0.5rem;
}

.container h1 {
  text-align: center;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 600;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #c0c0c0;
}

.container .p-1 {
  text-align: center;
  width: 100%;
  font-weight: inherit;
  padding: 0.7rem;
  background-color: #fff;
  border-bottom: 1px dashed #c0c0c0;
}

.container .wrapper .text-1 {
  width: 100%;
  font-weight: 200;
  padding: 0.7rem 0.7rem;
  text-align: center;
}
.container .wrapper .container_i-1,
.container_i-2 {
  margin-bottom: 0.6rem;
}
.container .wrapper .container_i-1 .i-1,
.container_i-2 .i-2 {
  width: 15%;
}
.container .wrapper .container_i-1 .s-2,
.container_i-2 .s-5 {
  margin-right: 0.4rem;
}

.container .wrapper .container_i-1 .btn-info1,
.btn-info2 {
  color: rgb(242, 244, 247);
  background-color: rgb(53, 52, 52);
  width: 1rem;
  height: 1rem;
  border: none;
  border-radius: 50px;
  cursor: pointer;
}

.container .wrapper .container_i-2 .ch-1 {
  cursor: pointer;
}
.wrapper .btn-cal {
  margin-bottom: 0.6rem;
  text-align: center;
}
.wrapper .btn-calc {
  width: 98%;
  color: white;
  font-size: 1.2rem;
  background: #02ad0a;
  padding: 1rem 0;
  transition-duration: 0.4s;
  border-radius: 6px;
  border: none;
  text-transform: uppercase;
}
.btn-calc:hover {
  background-color: #018b06;
}
.btn-calc:active {
  transform: scale(0.9);
  background-color: #05e610;
}

.container .wrapper .container_i-3 {
  margin-bottom: 0.3rem;
}
.container .wrapper .container_i-4 #p-2 {
  font-weight: 600;
  text-align: center;
}
